@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .animate-gradient-shift {
        animation: gradient-shift 3s ease infinite;
    }
}

@keyframes gradient-shift {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}